POSTGRES_USER=mlvcs
POSTGRES_PASSWORD=mlvcs_secret
POSTGRES_DB=mlvcs_db
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=ml-artifacts
SECRET_KEY=supersecretkey_change_in_production
API_URL=http://localhost:8000
